body{
    margin : 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E ;



}

h1{
    color: #66BFBF;
    font-size: 562%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem ;
    font-weight: bold;
    padding-bottom: 10px;


}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}

p{
    line-height: 2;
}

hr{
    border : dotted #a3b6b6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto ;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 300px;
} 

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

/* img{
    border-radius: 50%;
    height: 100px;
    
} */
.profile-img{
    border-radius: 50%;
    width: 23%;
}

.intro{
    width: 30%;
    margin: auto;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5
}

.row{
    padding: 10%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
   
}


.skill-img1{
    border-radius: 50%;
    width: 35%;

    margin-right: 3px;
}

.skill-img2{
    border-radius: 50%;
    width: 35%;

    margin-right: 3px;
}


#programming-languages{
    padding:0 15%;
}

.programming-language{
    text-align: center;
    padding: 5%;
}


#projects{
    margin : 5% 10% 3% 10%;
    padding: 5% 5% 5% 5%;
    text-align: center;
    background-color: #4fcece;
    color: #ffffff ;
}

.project-title{
 font-size: 3rem;
 line-height: 1.5;
 color: #ffffff;
 font-weight:540;
 font-family: sans;

}

.project-img{
    border-radius: 50%;
}

#developement-tool{
    padding: 2%;
   
}


.container-fluid{
  /* margin: 100px 0; */
  padding: 3% 15%;
}

.contact-message{
    width: 60%;
    margin: 40px auto 60px;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119993);
  background-image: -moz-linear-gradient(top, #11cdd4, #119993);
  background-image: -ms-linear-gradient(top, #11cdd4, #119993);
  background-image: -o-linear-gradient(top, #11cdd4, #119993);
  background-image: linear-gradient(to bottom, #11cdd4, #119993);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
    background-color: #66BFBF;
    padding : 50px 0 20px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}